*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: Arial;
	text-align: center;
  background: linear-gradient(135deg, rgba(255, 236, 209, 0.95), rgba(255, 174, 87, 0.95), rgba(255, 205, 129, 0.95)), 
                url('11.jpg') no-repeat center center fixed;
}

a{
	text-decoration: none;

}
.contenedor-principal{
	max-width: 1300px;
	max-height: 1300px;
	margin: 80px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta{
	margin: 25px;
}

.contenedor_tarjeta a{
	display: inline-block;
}

.contenedor_tarjeta:hover figure{
	transform: perspective(600px) rotateY(180deg);

}

.contenedor_tarjeta:hover figure img{
	filter: blur(2.5px);
}

figure{
	width: 300px;
	height: 350px;
	margin: 0;
	position: relative;
	transition: all ease 0.8s;
	transform-style: preserve-3d;
	transform: perspective(600px)rotateY(0deg);
	}

figure .frontal,
figure .trasera{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	/*backface-visibility: hidden;*/
}
figure .frontal{
	display: block;
	background: #000000;

}
figure .trasera{
	position: absolute;
	top: 0px;
	padding: 20px;
	color: #000000;
	transform: perspective(600px)rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
	-webkit-box-shadow: 10px 10px 30px 6px rgba(0,0,0,1);



}
figure .trasera p{
	font-size: 22px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
	background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    padding: 10px;
    border-radius: 10px;
}
figure .trasera h1{
	  font-weight: 700;
    font-size: 34px;
    color: #fff; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 10px; 
    border-radius: 10px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8); 
    font-family: 'Montserrat', sans-serif; 
    text-align: center; 
}
h2::after, h2::before{
	content: '';
	position: absolute;
	width: 90px;
	height: 6px;
	background-color: currentColor;
	top: 0.7em;
	transform: scale(1.0);
	transition: all 0.6s ease-in;


}
h2:hover::after, h2:hover::before{
	transform: scale(0.1);
}
h2::after{
	left: 220px;
}

h2::before{
	right:220px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap'); /* Fuente similar a la de Gravity Falls */

h2 {
   font-size: 60px;
   font-weight: bold;
   color: #FFD700; 
   text-shadow: 
      3px 3px 0px #8B0000, 
      6px 6px 0px black; 
   -webkit-text-stroke: 2px black; 
   letter-spacing: 2px;
   line-height: 1.2;
   margin-bottom: 20px;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   transform: rotate(-2deg); 
}


