*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}
body{
	background: #d2aa41;
	font-family: Arial;

}
h1{
	text-align: center;
	font-size: 60px;
	margin: 15px 0px 30px;
	color: #ffffff;
	text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}
.content{
	width: 90%;
	max-width: 910px;
	margin: auto;
	height: 80vh;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}
.table{
	width: 33%;
	height: 700px;
	margin: auto;
	border: 2px solid #000;
	padding: 60px;
	border-radius: 15px;
	box-shadow: 0px 0px 4px #924700;
	text-align: center;
	flex-grow: 1;
	color: #f7ff00;
	text-shadow: 
        -1.5px -1.5px 0 #000,  
         1.5px -1.5px 0 #000,
        -1.5px  1.5px 0 #000,
         1.5px  1.5px 0 #000;
}
.table>h2{
	font-size: 25px;
	margin-bottom: 15px;
}
.table img{
	width: 150px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.table>h3{
	font-size: 25px;
	margin-bottom: 10px;
	
}
.table>sup{
	font-size: 20px;
}
.boton{
	display: inline-block;
	width: 160px;
	padding: 11px;
	background: #895f00;
    border-radius: 25px; /* Bordes redondeados */
    color: #ffffff;
    border-radius: 16px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin: auto;
    margin-top: 13px;
    cursor: pointer;

   
}
.table:hover {
    background: #ffa600;
    color: #d5e308;
    transition: 0.5s all;
    transform: scale(1.1);
    cursor: pointer;
}