*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(135deg, #141E30, #243B55); /* Degradado elegante de azul oscuro a gris azulado */
	font-family: 'Poppins', sans-serif; /* Fuente moderna */
}
.image-box{
	width: 360px;
	height: 250px;
	border-radius: 15px;
	box-shadow: 10px 9px 15px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.box {
	width: 430px;
	background: rgba(44, 62, 80, 0.8); /* Fondo semi-transparente para destacar sobre el degradado */
	margin: 15px auto;
	border-radius: 15px;
	padding: 20px;
	color: white;
	text-align: center;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}
.box:hover {
	transform: scale(1.05); /* Pequeña animación al pasar sobre la caja */
}

.box h1{
	font-size: 36px;
	letter-spacing: 4px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #e84393;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.box h2{
	font-size: 28px;
	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #f1c40f;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.box p{
	text-align: justify;
	font-weight: 300;
	line-height: 1.6;
	font-size: 18px;
	color: #ecf0f1;
}

ul{
	list-style: none;
	margin-top: 20px;
	padding: 0;
}
ul li{
	display: inline-block;
	margin: 0 10px;
}

.box ul li a{
	color: #ecf0f1;
	font-size: 30px;
	padding: 7px 10px;
	transition: all 0.5s ease;
}

.box ul li a:hover{
	color: #f39c12;
	transform: scale(1.3);
}